// TRANSITIONS

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.list-transition-enter,
.list-transition-appear {
  /*We give the list the initial dimension of the list button*/
  top: 0;
  height: 0;
  // width: 120px;
  // max-height: 40px;
}

/* This is where we can add the transition*/
.list-transition-enter-active,
.list-transition-appear-active {
  top: 45px;
  height: 150px;
  // width: 200px;
  // max-height: 200px;
  transition: all 400ms;
}

.slide-transition,
.slide-transition-enter-done {
  transition: all 400ms;
}

.slide-transition-enter,
.slide-transition-appear {
  /*We give the list the initial dimension of the list button*/
  // top: 0;
  // height: 0;
  transform: translateX(-100%);
  position: relative;
  // width: 120px;
  // max-height: 40px;
}

.slide-transition-exit,
.slide-transition-exit-active {
  position: absolute;
  /*We give the list the initial dimension of the list button*/
  // top: 0;
  // height: 0;
  transform: translateX(-100%);
  // width: 120px;
  // max-height: 40px;
  transition: all 400ms;
  opacity: 0;
}

/* This is where we can add the transition*/
.slide-transition-enter-active,
.slide-transition-appear-active {
  // top: 45px;
  // height: 150px;
  // width: 200px;
  transform: translateX(0%);
  position: relative;
  opacity: 1;

  // max-height: 200px;
  transition: all 400ms;
}

.slide-transition-reverse,
.slide-transition-reverse-enter-done {
  transition: all 400ms;
}

.slide-transition-reverse-enter,
.slide-transition-reverse-appear {
  /*We give the list the initial dimension of the list button*/
  // top: 0;
  // height: 0;
  transform: translateX(100%);
  position: relative;
  // width: 120px;
  // max-height: 40px;
}

.slide-transition-reverse-exit,
.slide-transition-reverse-exit-active {
  /*We give the list the initial dimension of the list button*/
  // top: 0;
  // height: 0;
  transform: translateX(100%);
  position: relative;
  // width: 120px;
  // max-height: 40px;
  transition: all 400ms;
}

/* This is where we can add the transition*/
.slide-transition-reverse-enter-active,
.slide-transition-reverse-appear-active {
  // top: 45px;
  // height: 150px;
  // width: 200px;
  opacity: 1;
  transform: translateX(0%);
  position: relative;

  // max-height: 200px;
  transition: all 400ms;
}

.initial-values-maybe {
  transform: translateX(100%);
  top: 0;
  opacity: 0;
  // position: absolute;

  // max-height: 200px;
  transition: all 400ms;
}
