h1 {
  font-size: 1.5rem; //text-2xl
  line-height: 2rem; //text-2xl
  font-weight: bold;
  color: #38383a; 
  letter-spacing: 0.025em; //tracking-wide
}

h3 {
  font-size: 1.25rem; //text-xl
  line-height: 1.75rem; //text-xl
  font-weight: bold;
  color: #38383a;
  letter-spacing: 0.025em; //tracking-wide
}

p {
  font-size: 1rem; // text-base
  line-height: 1.5rem; // text-base
  color: #38383a;
}
